<h1>A Few Blogs From The Past Year</h1>


<h3><%= link_to "Southeast Asia Blog", posts_path %></h3>
  <p> November - December 2013 </p>
  <p>A month long trip with Gap Adventures</p><br>

<h3><%= link_to 'Indonesia Blog', indo_posts_path %></h3>
  <p> March 2014 </p>
  <p>Two weeks away with Wes</p>
