<div id='mountains'>
  <div>  <%= image_tag 'em.jpg', {:class => "empic", :id => "projectspic"} %>
  </div>
  <div id="project_top">
    <h1>Emily Hoover Anderson</h1>
    <h2>Web Developer</h2>
    <h3><%= link_to "Github", "http://github.com/ehanderson", :target => '_blank'%> |
      <%= link_to "Resume", resume_home_path %></h3>
    <h4>I selected these projects because they display a variety of languages and abilities that I would enjoy to speak with you about. This site is a WIP so comeback to see updates soon! </h4>
  </div>
</div>
<div>

  <h1>Projects</h1>
  <div class="all_projects">
    <div class="project">
      <h2>GroupSmart</h2>
      <div class="description">
        <p>Algorithm heavy program, designed to make teachers' lives a bit easier. It generates groups and metrics for the class provided a variety of optional parameters such as grades distribution among groups. A team based project using Agile development cycles.</p>
      </div>
      <div class="languages">
        <p>Ruby, Rails, Java, Rspec, CSV parsing, Heroku, Zurb, Pivotal Tracker, Ajax</p>
      </div>
    </div>

    <div class="project">
      <h2>VelaSuRaptor</h2>
      <div class="description">
        <p>Survey Monkey turned VelaSuRator? In this mini version, surveys can be customize and created in more ways than one. The creator can add questions and choices to each survey and analyze the response data. </p>
      </div>
      <div class="languages">
        <p>Ajax, CSS, JQuery, JavaScript, Rails, Ruby</p>
      </div>
    </div>

    <div class="project">
      <h2>Kellogg School of Management Marketing Project - Data Collection</h2>
      <div class="description">
        <p>Scraping https sites over the course of a month multiple times a day to gather social media’s response to Superbowl advertisers. </p>
      </div>
      <div class="languages">
        <p>Redis, Watir, Typhoeus, Nokogiri, Ruby, Rails, Coffeescript, Facebook, Youtube, Topsy, Selenium</p>
      </div>
    </div>
  </div>
  <br>
<h1 id="current_projects">Current Projects:</h1>
  <div class="all_projects">
    <div class="project">
      <h2>Student Success Coalition Websites</h2>
      <div class="description">
        <p>Due to the Student Success Act passed in July of 2013, each state is developing a coalition to get the word out regarding their plan for raising academic standards. To do this, each state will need a website as a communication tool to and from the public- cut to... Emily Anderson! </p>
      </div>
      <div class="languages">
        <p>Ruby, Refinery, Salsa, Google Maps, Government and Facebook APIs, HAML, CSS, Ajax, and Javascript</p>
      </div>

    <div class="project">
      <h2>Famous</h2>
      <div class="description">
        <p>A mobile game app requiring multi device communication.</p>
      </div>
      <div class="languages">
        <p>Google, Twitter, and Facebook APIs, PhoneGap, Ruby, Rails, Firebase</p>
      </div>
    </div>
  </div>

