<div id='mountains'>
  <div>  <%= image_tag 'em.jpg', {:class => "empic", :id => "projectspic"} %>
  </div>
  <div id="project_top">
    <h1>Emily Hoover Anderson</h1>
    <h2>Web Developer</h2>
    <h3><%= link_to "Github", "github.com/ehanderson" %><h3>
    <h4>Temporarily, this is just a basic list of some of the projects I would enjoy to speak with you about. This site is a work-in-progress so comeback to see updates soon! </h4>
  </div>
</div>
<div>

  <h1>Projects</h1>
  <div class="all_projects">
    <div class="project">
      <h2>GroupSmart</h2>
      <div class="description">
        <p>Algorithm heavy program (which is my favorite), designed to create groups provided a variety of parameters.</p>
      </div>
      <div class="languages">
        <p>Ruby, Rails, Java, Rspec, CSV parsing, Heroku, Zurb</p>
      </div>
    </div>

    <div class="project">
      <h2>TweetLater</h2>
      <div class="description">
        <p>Time to learn about APIs and Redis Workers. This was created after only a month of coding at Dev BootCamp. It's a little rough but a good example of how much we picked up in only a few weeks. </p>
      </div>
      <div class="languages">
        <p>OAuth, Sidkiq, Sinatra, Ruby</p>
      </div>
    </div>

    <div class="project">
      <h2>VelaSuRaptor</h2>
      <div class="description">
        <p>Our version of Survey Monkey. You can take/create surverys, add questions and choices to each card.</p>
      </div>
      <div class="languages">
        <p>Ajax, CSS, JQuery, JavaScript, Rails, Ruby</p>
      </div>
    </div>

    <div class="project">
      <h2>Famous</h2>
      <div class="description">
        <p>A mobile game app requiring multi device communication.</p>
      </div>
      <div class="languages">
        <p>Google, Twitter, and Facebook APIs, PhoneGap, Ruby, Rails, Firebase</p>
      </div>
    </div>

  </div>
