#sailingbackground{
  background-color: #c3c3c3;
  background-image:url('sailinglight.jpg');
  background-color:#cccccc;
  background-size:100%  ;
  background-repeat: no-repeat;
  margin: -50px;
  margin-bottom: 0px;
  height: 50%;
  border-bottom: 3px solid #aaa;
}

#nav{
  margin-left: -4%;
  margin-top: 0%;
}

img.empic{
  width: 185px;
  margin-top: 1%;
  margin-right: 10%;
  float: right;
  transform:rotate(7deg);
  -ms-transform:rotate(7deg); /* IE 9 */
  -webkit-transform:rotate(7deg); /* Safari and Chrome */
  border-style: solid;
  border-color: #929292;
  border-width: thin;
}

#hometop{
  margin-left:10%;
  padding-top:8%;
  padding-bottom: 10%;
}
#hometop h1{
  font-size: 40px;
}

.mainlinks{
  margin-left: 8%;
}

body{
  background-color: #F5F5F5;
}

#homebottom{
  bottom: 5px;
  position: relative;
  float: center;
  padding-left: 10px;
  padding-right: 30px;
  color: #4C474D;
}

h1{
    font-size: 32px;
    color: #000;
}

.border_bottom{
  margin-left: -10px;
  border-left: 4px solid #aaa;
  padding-left: 20px;
}

.headers_about_me{
  font-size: 24px;
  line-height: 30px
}

.about_me{
  font-size: 28px;
  line-height: 35px;

}

#disclaimer p{
  font-size: 15px;
}
